---
layout: base.njk
pagination:
  data: collections.curatedTagPages
  size: 1
  alias: tagInfo
permalink: "/tags/{{ tagInfo.tag | slugify }}/"
eleventyComputed:
  title: "{{ tagInfo.title }}"
---
{% from "post-card.njk" import card %}
<section class="wrap">
  <h1>{{ tagInfo.title }}</h1>
  <div class="post-grid">
    {% for post in tagInfo.posts %}
      {{ card(post) }}
    {% endfor %}
  </div>
</section>
